nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 2px solid red; */
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  background-color: #009688;
  z-index: 999;
}

nav ul:nth-child(1){
  width: 45%;
}

nav ul:nth-child(2){
  width: 175px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
ul.con-gambar a > * {
  margin: 0 10px 0 10px;
}
.gambar img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

nav .menu > *, 
nav .login-register > *  {
  width: 100%;
  height: 100%;
}


nav ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #eee;
  /* border: 2px solid red; */
}

nav ul a:hover{
  background-color: #1A9F93;
}

.con-gambar {
  text-transform: none !important;
}




.container {
  width: 900px;
  height: 500px;
  margin: 200px auto;
}