@font-face {
  font-family: 'robotoregular';
  src: url('../../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'robotoregular', sans-serif;
  flex-direction: column;
  text-transform: capitalize;
}

input { /* Recent browsers */
  text-transform: none !important;
}

body {
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 500px;
  border: 2px solid #ccc;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

label {
  color: #888;
  font-size: 18px;
  padding: 10px;
}

.option {
  float: right;
}

button {
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

button:hover {
  opacity: .7;
}

.error {
  background: #F2DEDE;
  color: #A94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #D4EDDA;
  color: #40754C;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color:#fff;
}

.lo {
  float: right;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  text-decoration: none;
}

.lo:hover {
  opacity: .7;
}

.ca {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}
.ca:hover {
  text-decoration: underline;
}