.gambar {
  width: 100%;
  display: flex;
  align-items: end;  
}
.kotak-gambar {
  position: relative;
  width: 250px;
  height: 250px;
}

.gambar .kotak-gambar img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 0;
}

.gambar .form-control {
  width: 500px;
}

.upload {
  margin: 0 20px;
}

.upload p {
  margin: 0;
}

.custom-file-upload input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #aaa;
  display: inline-block;
  height: 50px;
  width: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
