/* Footer */
.footer-bottom{
    margin-top: 10px;
    background:#001331;
    width:100%;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    color: white;
    p{
        font-weight: 200;
    }
}