.back{
    img{
        width: 7.2em;
    }
}
.container-content{
    width: 1200px;
    height:max-content;
    margin:20px auto;
    // color:white;
    background: linear-gradient(180deg, rgba(0, 17, 43, 0.4) 0%, rgba(41, 71, 119, 0.336) 100%);
    .profil-information{
        // color:white;
        padding:1.5em;
        width: 902px;
        height:max-content;
        background: rgba(41, 71, 119, 0.2);
        margin:0 auto;
        h3{
            color:white;
            font-weight: 500;
        }
        .box-profil{
            // border:1px solid white;
            padding:2em;
            display:grid;
            grid-template-columns: auto auto;
            gap:1.2em;
            justify-content: flex-start;
            align-items: flex-end;
            .picture > img{
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
            .btn-input{
                display: block;
                .upload{
                    text-align: center;
                    line-height: 41px;
                    cursor: pointer;
                    box-sizing: border-box;
                    width: 184px;
                    height: 41px;
                    color:white;
                    font-weight: 400;
                    background: #061833;
                    border: 1px solid #061225;
                    border-radius: 3px;
                }
                .text{
                    display: block;
                    color:#FFFFFF;
                    font-weight: 200;
                    margin-top:0.5em;
                }
            }
        }
        .account-information{
            margin-top: 2em;
            form{
                display:grid;
                grid-template-columns: auto auto;
                width: 55em;
                align-items: center;
                justify-content: space-evenly;
                label{
                    color:white;
                }
                input{
                    width: 555px;
                    height: 25px;
                    background: rgba(41, 71, 119, 0.5);
                    border-radius: 5px;
                    border:none;
                    outline:none;
                    margin:0.6em;
                    color:rgb(255, 255, 255);
                }
                .bio{
                    width: 555px;
                    height: 92px;
                }
                // textarea{
                //     background: rgba(41, 71, 119, 0.5);
                //     border-radius: 5px;
                //     width: 555px;
                //     height: 92px;
                //     border:none;
                //     outline:none;
                // }
            }
        }

        .change{
            // margin-left: 2em;
            margin-top: 5em;
        }

        .change-password{
            margin-top: 2em;
            form{
                display:grid;
                grid-template-columns: auto auto;
                width: 55em;
                align-items: center;
                justify-content: space-evenly;
                label{
                    color:white;
                }
                input{
                    width: 555px;
                    height: 25px;
                    background: rgba(41, 71, 119, 0.5);
                    border-radius: 5px;
                    border:none;
                    outline:none;
                    margin:0.6em;
                    color:rgb(255, 255, 255);
                }
                // textarea{
                //     background: rgba(41, 71, 119, 0.5);
                //     border-radius: 5px;
                //     width: 555px;
                //     height: 92px;
                //     border:none;
                //     outline:none;
                // }
            }
            .btn{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-right: 2em;
                margin-top: 5em;
                .save{
                    width: 163px;
                    height: 35px;
                    background: #061833;
                    border: 2px solid #061225;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    color:white;
                    border:none;
                }
            }
        }
    }
}